*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}

/* 版心 */
.common_container{
    width: 1200px;
    margin: 0 auto;
}
.swiperWidth{
    width:930px;
    margin: 0 auto;
}

@media (max-width: 980px) {
    .common_container{
        width: 100%;
        margin: 0 auto;
    }
  
   
}
@media (min-width:320px) {
    body,html{font-size: 10px;}
}
@media (min-width:375px) {
    body,html{font-size: 12px;}
}
@media (min-width: 1280px) {
    body,html{font-size: 14px;}
}
/* @media (min-width: 1366px) {
    body,html{font-size: 15px;}
} */
@media (min-width: 1440px) {
    body,html{font-size: 19px;}
}
@media (min-width: 1680px) {
    body,html{font-size: 17px;}
}
@media (min-width: 1920px) {
    body,html{font-size: 33px;}
}
@media (min-width: 2880px) {
    body,html{font-size: 33px;}
}