*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}

/* 版心 */
.common_container{
    width: 1200px;
    margin: 0 auto;
}
.swiperWidth{
    width:930px;
    margin: 0 auto;
}

@media (max-width: 750px) {
    .common_container{
        width: 750px;
        margin: 0 auto;
    }
  
   
}